body, html{
    height: 100%; 
}

body{
    margin: 0;
    padding: 0;
    background: #FFBF00;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-box{
    width: 300px;
    padding: 40px;
    background: #191919;
    text-align: center;

}

.form-title{
    color: floralwhite;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="submit"]{

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #3742a3;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus {
    width: 280px;
    border-color: #FFBF00;
}

.form-box button[type="sumbit"]{
    border: 0;
    background: #FFBF00;
    cursor: pointer; 
}

.form-box button[type="sumbit"]:hover{
    background: none;
}